{% extends "AcmeDemoBundle::layout.html.twig" %}


{% block title "Answers" %}

{% block content_header '' %}

{% block content %}
<h1>Answers</h1>
    <h2>Hi {{ name }}</h2>
<p style="color:green">Result: {{result}} </p>

<strong>You are a</strong>
{{ clan }}

{% endblock %}
